ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
.search-form {
  background-color: blue;
  padding-top: 12px;
  text-align: center;
  box-shadow: 0 10px 15px -3px #0000001a, 0 6px 4px -4px #0000001a;
  margin-bottom: 20px;
}
.field-input {
  outline: none;
  min-height: 40px;
  margin-left: 44px;
  padding: 8px 40px 8px 16px;
  color: black;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.2;
  @media screen and (max-width: 650px) {
    width: 200px;
    font-size: 16px;
  }
  @media screen and (max-width: 849px) {
    width: 250px;
    font-size: 16px;
  }
  @media screen and (min-width: 850px) {
    width: 350px;
    font-size: 16px;
  }
}
.field-input:focus {
  border: 1px solid yellow;
}
.field-submit {
  position: relative;
  height: 40px;
  width: 40px;
  right: 44px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.125;
  cursor: pointer;
}
.sort-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 10px;
  color: white;
}
.gallery {
  padding: 10px;
  overflow-x: hidden;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(2, auto);
  }
  @media screen and (min-width: 649px) and (max-width: 850px) {
    grid-template-columns: repeat(3, auto);
  }
}
.photo-card {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0 10px 15px -3px #0000001a, 0 6px 4px -4px #0000001a;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}
.photo-card:hover {
  transform: scale(1.01);
}
.photo-card img {
  object-fit: cover;
  width: 100%;
  height: 75%;
}
.info {
  margin-top: 10px;
  @media screen and (max-width: 650px) {
    margin-top: 0px;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 8px;
  @media screen and (min-width: 850px) and (max-width: 1149px) {
    font-size: 10px;
  }
  @media screen and (min-width: 1150px) and (max-width: 1449px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1450px) {
    font-size: 18px;
  }
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-item span {
  margin-top: 5px;
}
.btn-up {
  position: fixed;
  right: 50px;
  bottom: 30px;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0px 25px 3px #0000003d, 0 0px 4px 4px #0000004f;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  opacity: 0.7;
}
